.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.container{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.btn{
  height: 23px;
  width: 23px;
  border-radius: 50%;
  border: none;
  color: white;
  background-color: #006fd0;
}
.btn-div{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 1px solid blue;
  height: 30px;
}
.cart{
  background-color: #006fd0;
  border-radius: 5px;
  border: none;
  color: white;
  width: 100%;
  padding: 5px 0;
}

.grocery{
  border: 1px solid red;
}

.upper{
  display: flex;
  
}

.price-div{
  display: flex;
  gap: 30px;
}
.price-div p:last-child{
  text-decoration: line-through;
}
.upper p{
  background-image: url('https://www.jiomart.com/assets/version1649101673/smartweb/images/icons/offer_bg.svg');
  background-repeat: no-repeat;
  color: white;
}